.selectedPage {
    font-weight: bold;
    color: aquamarine;
    margin: 5px;
    font-size: 30px;
}

.pages {
    letter-spacing: 0.7rem;
    color: #747474;
    font-size: 20px;
    font-weight: bolder;
    margin: 1rem;
}

.button {
    cursor: pointer;

}