.nav {
    grid-area: n;
}

.item a {
    text-decoration: none;
    color: #747474;
    font-weight: bold;
    border: 2px solid #303034;
    padding: 5px;
    margin: 5px;
    line-height: 250%;
    font-size: 20px;
}

.item a.active {
    color: #18181B;
    background-color: aquamarine;
    font-weight: bolder;
}